.games-body {
  background-color: var(--background-color);
  padding: 30px 0 0 0;
}

.games-main-body {
  display: flex;
  justify-content: center;
}

#games-title {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 40px;
}
