@font-face {
  font-family: 'Pkmn';
  src: url('Pkmn.eot');
  src:
    url('Pkmn.eot?#iefix') format('embedded-opentype'),
    url('Pkmn.woff2') format('woff2'),
    url('Pkmn.woff') format('woff'),
    url('Pkmn.ttf') format('truetype'),
    url('Pkmn.svg#PKMN-RBYGSC') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
