/* CSS HEX */ /* 60-30-10% rule */
--black: #020202ff; /* 60% */
--white: #ffffffff; /* 60% */
--silver-chalice: #acacacff; /* 30% */
--lemon-curry: #c7a008ff; /* 10% */
--orange: /* 10% */

/* CSS HSL */ --black: hsla(0, 0%, 1%, 1);
--white: hsla(0, 0%, 100%, 1);
--silver-chalice: hsla(0, 0%, 67%, 1);
--lemon-curry: hsla(48, 92%, 41%, 1);

/* SCSS HEX */
$black: #020202ff;
$white: #ffffffff;
$silver-chalice: #acacacff;
$lemon-curry: #c7a008ff;

/* SCSS HSL */
$black: hsla(0, 0%, 1%, 1);
$white: hsla(0, 0%, 100%, 1);
$silver-chalice: hsla(0, 0%, 67%, 1);
$lemon-curry: hsla(48, 92%, 41%, 1);

/* SCSS RGB */
$black: rgba(2, 2, 2, 1);
$white: rgba(255, 255, 255, 1);
$silver-chalice: rgba(172, 172, 172, 1);
$lemon-curry: rgba(199, 160, 8, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(
  0deg,
  #020202ff,
  #ffffffff,
  #acacacff,
  #c7a008ff
);
$gradient-right: linear-gradient(
  90deg,
  #020202ff,
  #ffffffff,
  #acacacff,
  #c7a008ff
);
$gradient-bottom: linear-gradient(
  180deg,
  #020202ff,
  #ffffffff,
  #acacacff,
  #c7a008ff
);
$gradient-left: linear-gradient(
  270deg,
  #020202ff,
  #ffffffff,
  #acacacff,
  #c7a008ff
);
$gradient-top-right: linear-gradient(
  45deg,
  #020202ff,
  #ffffffff,
  #acacacff,
  #c7a008ff
);
$gradient-bottom-right: linear-gradient(
  135deg,
  #020202ff,
  #ffffffff,
  #acacacff,
  #c7a008ff
);
$gradient-top-left: linear-gradient(
  225deg,
  #020202ff,
  #ffffffff,
  #acacacff,
  #c7a008ff
);
$gradient-bottom-left: linear-gradient(
  315deg,
  #020202ff,
  #ffffffff,
  #acacacff,
  #c7a008ff
);
$gradient-radial: radial-gradient(#020202ff, #ffffffff, #acacacff, #c7a008ff);
