.title {
  display: flex;
  justify-content: center;
  color: #c7a008;
  font-size: 40px;
}

.subtitle {
  display: flex;
  justify-content: center;
  color: #c7a008;
  font-size: 20px;
  padding: 20px 10% 0 10%;
  text-align: center;
}

.image-holder {
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.homepage-body {
  height: 100%;
  background-color: black;
  padding: 30px 0 0 0;
  display: flex;
  flex-direction: column;
}

.first-body {
  margin: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.second-body {
  display: flex;
  justify-content: center;
  height: 100vh;
  flex-wrap: wrap;
  background-color: #ffffffff;
  padding: 4% 0 1% 0;

  img {
    margin: 1%;
  }
}
