.timeline-body {
  margin: 2% 0 2% 0;
  height: 100%;
  width: 4px;
  background-color: white;
  border-radius: 40px;
}

.timeline-bullet-point {
  position: relative;
  color: white;
  list-style: none;

  &::marker {
    font-size: 50px;
    position: absolute;
  }

  &:hover {
    color: #c7a008;
  }

  &:nth-child(odd) {
    float: left;
    padding-right: calc(50% + 30px);
    left: -7px;
  }

  &:nth-child(even) {
    float: right;
    padding-left: calc(50% + 30px);
    text-align: right;
    direction: rtl;
    left: 7px;
  }
}
