body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  /* Initial Theme Variables */
  --primary-color: #c7a008;
  --secondary-color: white;
  --background-color: black;
  --secondary-background-color: #ffffffff;
  --font-color: var(--primary-color);
  --secondary-font-color: var(--secondary-color);
  --font-family: 'Pkmn', Times, serif;

  /* Reverse Dark Theme Variables (Future)*/
}
