name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js & Prettier
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Build
      run: |
        npm install
        npx webpack
    - name: Prettier
      run: npm prettier --write
